*{
    margin: 0;
    padding: 0;
}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #222222;
    color: #fff;
    padding: 20px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

